.header{
    display: flex;
    
}

.yellow{
    color: rgb(238, 207, 29);
}



.header h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}

.half-width h1{
    
    font-size: 50px;
}

.half-width img{
    width:50%;
    height: 300px;
}

a{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 5px;
}